[submodule "delegateCallProxy/lib/forge-std"]
	path = delegateCallProxy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lotteryContract/lib/forge-std"]
	path = lotteryContract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lotteryContract/lib/chainlink-brownie-contracts"]
	path = lotteryContract/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
